body { 
	background-color: #661111; 
	margin: 0pt;
	padding: 0pt;
	font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size:80%;
	}

img { border: none; }

a { color: black; 
    text-decoration: none; }

.flash { color: white; 
         text-align: center;
         font-weight: bold; }

div.person, div.nav, div.frame { background-color: #FFF7D8; 
                                 margin: 2em; }
             
div.nav { text-align: center; }

div.content { padding: 1em; }

div.clear { clear: both; }

div.loginbar { 
/*	float: left;
	width: 100%; */
	background-color: #991A1A;
	background-image: url(/images/site-links-background.gif);
	background-position: center bottom;
	background-repeat: repeat-x;
	color: #FFFFFF;
	text-align: right;
	clear: both;
	margin: 0px;
	padding: 5px;
/*	border-style: none none solid none;
	border-bottom-width: 1px; */
	}

ul.layout { list-style-type: none }

.photo { float: left; 
         width: 200px;
         text-align: center;
         margin-right: 10px;
         clear: left; }
     
.caption { font-size: small; }

.blather { margin-left: 210px; }
         
.name, .login { font-weight: bold;
                font-size: xx-large; }
                
.login { margin-bottom: 1ex; }
        
.title { margin-bottom: 1ex; }
         
.note { white-space: pre; }
         
.bold { font-weight: bold; }

.pagetitle { 
	text-align: center;
	font-size: xx-large;
	}
