body { background-color: #661111; }

img { border: none; }

a { color: black; 
    text-decoration: none; }

.flash { color: white; 
         text-align: center;
         font-weight: bold; }

div.person, div.nav, div.frame { background-color: #FFF7D8; 
                                 margin: 2em; }
             
div.nav { text-align: center; }

div.content { padding: 1em; }

div.clear { clear: both; }

.photo { float: left; 
         width: 200px;
         text-align: center;
         margin-right: 10px;
         clear: left; }
     
.caption { font-size: small; }

.blather { margin-left: 210px; }
         
.name, .login { font-weight: bold;
                font-size: xx-large; }
                
.login { margin-bottom: 1ex; }
        
.title { margin-bottom: 1ex; }
         
.note { white-space: pre; }
         


