<div style="text-align: center">
  <div class="name title"><%=@person.uid[0]%></div>
  <%= person_image(@person.uid[0]) %>
</div>

<% @person.attributes.each do |attr| %>
<div>
  <% if (@person.send(attr).to_s != '') %>
  <span style="font-weight: bold;"><%= attr %></span>: <%= @person.send(attr) %> 
  <% end %>
</div>
<% end %>
