<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
   <HEAD>
      <TITLE><%= controller.controller_name %>: <%= controller.action_name %></TITLE>
      <%= javascript_include_tag "prototype" %>
      <%= javascript_include_tag 'rico' %>
      <%= stylesheet_link_tag 'styles' %>
      
   </HEAD>
   <BODY>
      <p class="flash"><%= flash[:notice] %></p>
      <%= @content_for_layout %>
   </BODY>
</HTML>