<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
   <HEAD>
      <TITLE><%= controller.controller_name %>: <%= controller.action_name %></TITLE>
      <%= javascript_include_tag "prototype" %>
      <%= javascript_include_tag 'rico' %>
      <%= stylesheet_link_tag 'styles' %>
      
   </HEAD>
   <BODY>
<% if @http_auth %>
<div class="loginbar">Logged in as: <%=h @http_auth[:username] %></div>
<% end %>
<p class="flash"><%= flash[:notice] %></p>
<div class="frame" id="frame">
  <div class="content">
  <%= @content_for_layout %>
  </div>
  <div class="clear"></div>
</div>

<script>
Rico.Corner.round('frame');
</script>

   </BODY>
</HTML>